body {
    background-color: #101720;
    color: white;
    font-family: Cambo;
}

h3 {
    color: #93e5ab;
}

.info {
    display: flex;
    justify-content: flex-start;
}

.itemthing {
    padding-right: 50px;
}

h1 {
    transition:
        font-size 1s,
        text-shadow 1.5s;
}

a {
    text-decoration: none;
    color: white;
}

h1:hover {
    transition:
        font-size 1s,
        text-shadow 1.5s;
    text-shadow: 0px -1px 14px lightgoldenrodyellow;
    font-size: 35px;
}

::selection {
    color: whitesmoke;
    background: mediumseagreen;
}

.canv {
    width: 620px;
    height: 620px;
}
