body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.side {
    position: absolute;
    right: 8%;
    top: 0%;
    margin: 30px;
    border: solid 2px;
    border-color: black;
    min-height: 300px;
    min-width: 200px;
    padding: 10px;
    overflow-wrap: break-word;
}

h2 {
    margin-top: 1px;
}