body {
    background-color: black;
    color: lightgray;
    text-align: center;
    font-family: 'Noto Serif';
}

h1 {
    margin-bottom: 5px;
}

.sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 5px;
    max-width: 200px;
    overflow-wrap: break-word;
    border: 1px solid grey;
}

.vertical {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    margin: auto;
}