body {
    background-color: black;
    color: lightgray;
    text-align: center;
}

.sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 5px;
    max-width: 400px;
    overflow-wrap: break-word;
}