body {
    background-color: black;
    color: lightgray;
    text-align: center;
    font-family: 'Crimson Text';
}

.sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 5px;
    max-width: 200px;
    overflow-wrap: break-word;
    border: 1px solid grey;
}